# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\NgocNB20_Assigment2011_JPE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
